*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
}
.container{
    margin: 0 auto;
    max-width: 1400px;

}
.nav{
    display: flex;
    justify-content: space-between;
}
.first-ul{
    display: flex;
    font-size: 12px;
    gap: 15px;
}
.header__nav_link{
    color: rgb(105, 4, 138);
    text-decoration: none;
}
.header__nav_link:hover{
    text-decoration: underline;
}
.dropdown-button{
    background: none;
    border: none;
    color: rgb(105, 4, 138);
}
.dropdown-button:hover{
    text-decoration: underline;
}
.dropmenu{
    position: absolute;
    background:#fff;
    width: 350px;
    height: 30px;
}
.dropdown-button{
    cursor: pointer;
}
.dropmenu{
    position: absolute;
    left: 420px;
    top: 23px;
}
.dropdownmenu-link{
    width: 100%;
    height: 100%;
    color: rgb(105, 4, 138);
    font-size: 14px;
}
.header__nav_right-side_ul{
    display: flex;
    gap:15px;
}
